# Node dependencies
node_modules/

# Expo folders and build output
.expo/
dist/
web-build/
expo-env.d.ts

# Expo-managed native folders (prebuild workflow)
android/
ios/

# Certificates and sensitive keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system file
.DS_Store

# Environment configs
.env*
.env*.local

# TypeScript
*.tsbuildinfo
